#flashy {
    background-image: url(images/backgrounds/landing.jpg);
    text-align: center;
  }
#happy {
  background-position: left;
}
.breakfast {
  background-image: url(../breakfast.jpg);
  text-align: center;


}
.lunch {
  background-image: url(../lunch.jpg);
  text-align: center;
  height: 120px;
  padding: 0;
  margin: 0;
}

.dinner {
  background-image: url(images/dinner.jpg);
}
